

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
# Compiled output
# IDEs and editors
# Miscellaneous
# Node
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
# System files
# Visual Studio Code
# raw photo uploads (not deployed)
*.launch
*.sublime-workspace
.DS_Store
.c9/
.classpath
.history/*
.idea/
.project
.sass-cache/
.settings/
.vscode/*
/.angular/cache
/bazel-out
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
/out-tsc
/photo-originals
/tmp
/typings
Thumbs.db
lh*.json
lh.json
npm-debug.log
ng-serve*.log
testem.log
yarn-error.log
